.__flexrow{
    display:flex;
    flex-flow: row nowrap;
    justify-content:space-around;
    align-items:stretch;
}
.__flexrow-reverse:{
    flex-flow: row-reverse
}
.__flexcol{
    display:flex;
    flex-flow: column nowrap;
    align-content:space-around;
}
.__flexcol-reverse:{
    flex-flow: column-reverse
}
.__flexitem{
    order:1;
    flex:0 1 auto;
    margin:auto;
}
.__flexitem-aligntop{ self-align:flex-start }
.__flexitem-alignbottom{ self-align:flex-end }
.__flexitem-aligncenter{ self-align:center }
.__flexitem-alignstretch{ self-align:stretch }
.__flexitem-alignbase{ self-align:baseline}
